<h1>Registration Form</h1>

<form action="register.aspx" method="post">
    <table>
        <tr>
            <td>Enter UserName</td>
            <td>
                <input type="text" id="UserName" name="firstName" placeholder="firstName">
                <input type="text" id="UserName" name="lastName" placeholder="lastName">
            </td>
        </tr>
        <tr>
            <td>Enter Email</td>
            <td>
                <input type="email id" name="email id" placeholder="email">
            </td>
        </tr>
        <tr>
            <td>EnterOTP</td>
            <td>
                <input type="EnterOTP" id="enterOTP" name="OTP" placeholder="enterOTP">
            </td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td>
                <input type="password" id="password" name="password" placeholder="Enter password">
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="text" id="password" name="Password" placeholder="Confirm password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="submit Details" cellpadding="10">
            </td>
        </tr>
    </table>
</form>